.Weather {
  padding: 16px;
  margin: 30px;
}
.Weather h1 {
  text-align: left;
  color: #008699;
  font-weight: bold;
  font-size: 45px;
  margin: 20px 0 0 0;
}
.Weather .search_form {
  text-align: right;
  margin-bottom: 20px;
}

.Weather .city-form {
  text-align: left;
  color: #008699;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
  border: 1px solid #008699;
  background-color: #cbe4f7;
}
.Weather .search_button {
  text-align: right;
  color: #008699;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in-out;
  border: 1px solid #008699;
  background-color: #cbe4f7;
}

.Weather .search_button:hover,
.city-form:hover {
  opacity: 0.8;
  cursor: pointer;
  color: #008699;
  background: #e2f0f9;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  text-align: left;
  color: #008699;
  font-size: 25px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
  margin-left: -10px;
}

.Weather .temperature {
  font-size: 75px;
  line-height: 64px;
  color: #008699;
}

.Weather .temp_unit .units {
  position: relative;
  font-size: 15px;
  top: -40px;
  margin-left: 5px;
  font-size: 20px;
  color: black;
}
